/*<Подключаем шрифты>=======================================================*/
@import "_fonts";
/*<Подключаем шрифты>=======================================================*/

/*<Шрифт по умолчанию>=======================================================*/
$fontFamily: "Roboto"; /*"Название шрифта"*/
$fontSize: 14px;
$lineHeight: 1.2;
/*<Шрифт по умолчанию>=======================================================*/

/*<ПЕРЕМЕННЫЕ>=======================================================*/
$minWidth: 320px;
$maxWidth: 1920; /* максимальная ширина контента*/
$maxWidthContainer: 1180; /* ширина ограничивающего контейнера: 1160 + 10 + 10 (10 - отступы безопасности слева и справа)*/
$md1: $maxWidthContainer + 12;
$md2: 991.78;
$md3: 767.98;
$md4: 479.98;

$mainColorBackground: #ffffff;
$mainColor: #000000;

/*<ПЕРЕМЕННЫЕ>=======================================================*/

/*<Обнуление стилей>=======================================================*/
@import "_reset";
html {
    scroll-behavior: smooth;
}
body {
    background-color: $mainColorBackground;
    color: $mainColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    overflow-x: hidden;
}
.btn {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    padding: 13px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(55, 55, 55, 1);
    transition: all .3s ease;
    &:hover {
        color: #ffffff;
        background-color: rgb(0, 0, 0);
    }
    @media (max-width: 1024px) {
        font-size: 16px;
    }
}
a {
    color: inherit;
}
/*<Обнуление стилей>=======================================================*/

/*<ОСНОВНАЯ СЕТКА>=======================================================*/
[class*="__container"] {
    max-width: ($maxWidthContainer + px);
    margin: 0 auto;
    padding: 0px 10px;
    /* @media (max-width: ($md1+px)) {*/
    /*     max-width: 970px;*/
    /* };*/
    /* @media (max-width: ($md2+px)) {*/
    /*     max-width: 750px;*/
    /* };*/
    /* @media (max-width: ($md3+px)) {*/
    /*     max-width: none;*/
    /*     padding: 0 10px;*/
    /* };*/
}
/*<ОСНОВНАЯ СЕТКА>=======================================================*/

/*<Styles>=======================================================*/
/*<Header>=======================================================*/
@import "_header";

/*<Main>=======================================================*/
@import "_main";

/*<Footer>=======================================================*/
@import "_footer";
/*<Styles>=======================================================*/
